{% extends '::base.html.twig' %}

{% block body %}

	{% for post in posts %}
		<div class="post">
			<h2><a href="{{ path('project_get_post', { 'id': post.id }) }}">{{ post.title }}</a></h2>
			<p>{{ post.post }}</p>
			<address>{{ post.author }} : <span class="date">{{ post.date|date("Y-m-d") }}</span></address>
			<form method="post" action="{{ path('project_submit_comment') }}">
				<fieldset>
					<legend>Leave a comment</legend>

					<label for="email{{ post.id }}">Email:</label>
					<input type="email" name="email" id="email{{ post.id }}" />
					<br>
					<label for="comment{{ post.id }}">Comment:</label>
					<textarea name="comment" id="comment{{ post.id }}"></textarea>
					<br>
					<input type="submit" value="Submit" />
				</fieldset>
			</form>
		</div>
	{% endfor %}

{% endblock %}