{% extends '::base.html.twig' %}

{% block body %}

<a href="{{ path('project_edit_post') }}">Create new post >>></a>
<br><br>
<table border="1">
	<tr>
		<th>ID</th>
		<th>Title</th>
		<th>Author</th>
		<th>Date</th>
	</tr>

	{% for post in posts %}
		<tr>
			<td>{{ post.id }}</td>
			<td>{{ post.title }}</td>
			<td>{{ post.author }}</td>
			<td>{{ post.date|date("Y-m-d H:m:s") }}</td>
			<td>
				<a href="{{ path('project_edit_post', {'id':post.id }) }}">Edit</a> |
				<a href="{{ path('project_delete_post', {'id':post.id }) }}">Delete</a>
			</td>
		</tr>
	{% endfor %}

</table>

{% endblock %}